body{
    background-image:url(shoes.jpg) ;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#Clock{

    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;


    text-align: center;
    color:rgb(0, 0, 0);
    backdrop-filter:blur(5px);
    background-color: hsla(0, o%, 100%, 0.1);
    width: 100%;
}